mkdocs
mkdocs-material>=8
mkdocs-material-extensions
mkdocs-macros-plugin
mkdocs-exclude
mistune
mkdocs-open-in-new-tab
mkdocs-linkcheck
pytest
#mkdocs-print-site-plugin
#mkdocs-plugin-tags
#mkdocs-with-pdf
