[data-md-color-scheme="mdef"] {
  --md-primary-fg-color:        #000;
  --md-primary-fg-color--light: #00bda4;
  --md-primary-fg-color--dark:  #00bda4;
  --md-typeset-a-color: #7c4dff;
}

.md-typeset .admonition.pied-piper,
.md-typeset details.pied-piper {
  border-color: rgb(43, 155, 70);
}
.md-typeset .pied-piper > .admonition-title,
.md-typeset .pied-piper > summary {
  background-color: rgba(43, 155, 70, 0.1);
}
.md-typeset .pied-piper > .admonition-title::before,
.md-typeset .pied-piper > summary::before {
  background-color: rgb(43, 155, 70);
  -webkit-mask-image: var(--md-admonition-icon--pied-piper);
          mask-image: var(--md-admonition-icon--pied-piper);
}



[data-md-color-scheme="slate"] {
  --md-typeset-a-color:         rgb(255, 170, 0) !important;
  /*--md-default-fg-color--light: rgb(255, 170, 0);*/
  --md-admonition-bg-color:     #454545;
  background-color:             #3e4042;
  --md-default-fg-color--light:  rgb(233, 235, 252);
}

button.fullscreen_button:hover{
    filter: invert(11%) sepia(100%) saturate(4334%) hue-rotate(237deg) brightness(111%) contrast(140%)
}

.md-typeset__scrollwrap{
	text-align: center;
}

.md-typeset:not(.emojione) img:not(.emojione, .logo),
.md-typeset:not(.emojione) svg:not(.emojione, .logo){
	display: flex;
	justify-content: center;
	margin: auto !important;
	max-width: 95% !important;
}

.md-tabs.fullscreen-mode {
    height: 0px;
    transition: .3s ease-in-out;
}

.md-tabs:not(fullscreen-mode) {
    transition: .3s ease-in-out;
}

.md-sidebar--primary.fullscreen-mode {
    width: 0px;
    transition: .3s ease-in-out;
}

.md-sidebar--secondary.fullscreen-mode {
    width: 0px;
    transition: .3s ease-in-out;
}

.md-sidebar--primary:not(.fullscreen-mode) {
    transition: .3s ease-in-out;    
}

.md-sidebar--secondary:not(.fullscreen-mode) {
    transition: .3s ease-in-out;    
}

.md-typeset .admonition.seawater,
.md-typeset details.seawater {
  border-color: rgba(83, 157, 236);
  background-color: #2354a721;
}
.md-typeset .seawater > .admonition-title,
.md-typeset .seawater > summary {
  background-color: rgba(83, 157, 236, 0.41);
}
.md-typeset .seawater > .admonition-title::before,
.md-typeset .seawater > summary::before {
  background-color: rgba(83, 157, 236);
  -webkit-mask-image: var(--md-admonition-icon--seawater);
          mask-image: var(--md-admonition-icon--seawater);
}

.md-typeset .seawater :is(.admonition-title, summary)::before {
    width: 2.2rem;
    height: 2.2rem;
    top: 0.8em;    
}

.grid-two-columns {
    display: grid;
    grid-gap: 30px 10px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows:  1fr 1fr;
}

.button-metric{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    border-radius: 3px;
    font-size: 50px;
}

.button-metric:hover{
    transition: 0.1s ease-in-out;
    transform: scale(1.1, 1.1);
}

.card-deck {
    display:flex;
    flex-flow:row wrap;
    margin-right:-15px;
    margin-left:-15px;
    margin-bottom: 30px;
}

.card-deck .card {
    flex:1 1 20%;
    margin-right:15px;
    margin-bottom:15px;
    margin-left:15px;
}   

@media (max-width:900px) {
    .card-deck .card{
        flex:1 1 33%;
    }
}

@media (max-width:600px) {
    .card-deck .card{
        flex:1 1 100%;
    }
}

.card-deck-half{
    display: flex;
    flex-flow:row wrap;
    margin-right:-15px;
    margin-left:-15px;
    margin-bottom: 30px;    
}


.card-deck-half > .card{
    flex: 1 1 40%;
    margin-right:15px;
    margin-bottom:15px;
    margin-left:15px;   
}

@media (max-width:600px) {
    .card-deck-half .card{
        flex:1 1 100%;
    }
}

.card-deck-full .card-body{
    height: 180px;
}

.card-deck-half .card-body{
    height: 180px;
}

.card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    text-decoration: none;
    margin: 0 0 54px;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    background: #fff;
    border: 1px solid #000;
    border-radius: 3px;
    text-decoration: none !important;
}

a.card-title{
    text-decoration: underline;
}

h2.card-title{
    margin-top: 10px;
    color: black !important;
}

.card-body {
    background: var(--md-typeset-a-color);
    color: black !important;
    flex:1 1 auto;
    min-height:1px;
    padding:1.25rem
}

.card-body:hover{
    background: white;
    color: var(--md-typeset-a-color) !important;
    transition: 0.2s ease-out;
    text-decoration: underline;
}

a.card-title: hover{
    text-decoration: none;
}

.card-text {
    font-size: 14px;
    line-height: 1.4;
}
