[data-md-color-scheme="mdef"] {
  --md-primary-fg-color:        #000000;
  --md-primary-fg-color--light: #00bda4;
  --md-primary-fg-color--dark:  #00bda4;
  --md-typeset-a-color: #7c4dff;
}

[data-md-color-scheme="slate"] {
  --md-typeset-a-color:         rgb(255, 170, 0) !important;
  /*--md-default-fg-color--light: rgb(255, 170, 0);*/
  --md-admonition-bg-color:     #454545;
  background-color:             #3e4042;
  --md-default-fg-color--light:  rgb(233, 235, 252);
}

button.fullscreen_button:hover{
    filter: invert(11%) sepia(100%) saturate(4334%) hue-rotate(237deg) brightness(111%) contrast(140%)
}

.md-typeset__scrollwrap{
	text-align: center;
}

.md-typeset:not(.emojione) img:not(.emojione, .logo),
.md-typeset:not(.emojione) svg:not(.emojione, .logo){
	display: flex;
	justify-content: center;
	margin: auto !important;
	max-width: 100% !important;
}

.md-tabs.fullscreen-mode {
    height: 0px;
    transition: .3s ease-in-out;
}

.md-tabs:not(fullscreen-mode) {
    transition: .3s ease-in-out;
}

.md-sidebar--primary.fullscreen-mode {
    width: 0px;
    transition: .3s ease-in-out;
}

.md-sidebar--secondary.fullscreen-mode {
    width: 0px;
    transition: .3s ease-in-out;
}

.md-sidebar--primary:not(.fullscreen-mode) {
    transition: .3s ease-in-out;    
}

.md-sidebar--secondary:not(.fullscreen-mode) {
    transition: .3s ease-in-out;    
}