/* ----------INDEX---------- */
/* ----------GENERAL---------- */
/* ----------FULL SCREEN---------- */
/* ----------MENUS---------- */
/* ----------MODULE BANNERS---------- */
/* ----------FACULTY CARDS---------- */
/* ----------STUDENTS---------- */
/* ----------TABLES---------- */
/* ----------CONTENT TABS (SCHEDULES)---------- */
/* ----------HIGHLIGHT SECTIONS---------- */
/* ----------MEDIA QUERIES---------- */


/* ----------GENERAL---------- */

:root {
    --primary-color:  #4983ff;
    --primary-color-light-mode: #1c449a;
    --white: #fbfbfe;
    --black: #000000;
}

img {
    width: 100%;
}

.md-typeset .hidden {
    visibility: hidden;
}

[data-md-color-scheme="primary"] {
    --md-primary-fg-color: var(--primary-color-light-mode);
    --md-accent-fg-color: var(--primary-color-light-mode);
    --md-typeset-a-color: var(--primary-color-light-mode);
    --md-primary-fg-color--light: var(--white);
    --md-primary-fg-color--dark: var(--black);
    --md-primary-bg-color: var(--white);
    --md-primary-bg-color--light:#ffffffb3;
}

[data-md-color-scheme="slate"] {
    --md-primary-fg-color: var(--primary-color);
    --md-accent-fg-color: var(--primary-color);
    --md-typeset-a-color: var(--primary-color);
    --md-primary-fg-color--light: var(--white);
    --md-primary-fg-color--dark: var(--black);
    --md-default-bg-color: var(--black);
}

[data-md-color-scheme="slate"][data-md-color-primary="indigo"] {
        --md-typeset-a-color: var(--primary-color);
    }

.md-typeset h1,
.md-typeset h2,
.md-typeset h3,
.md-typeset h4,
.md-typeset h5,
.md-typeset h6 {
    font-weight: 400;
}

.md-typeset p {
    font-weight: 400;
}

.md-typeset h1 {
    font-size: 40px;
    font-weight: 400;
    line-height: 40px;
    text-align: left;
}

.md-typeset h1,
.md-typeset h2 {
    color: var(--md-primary-fg-color);
}

.md-typeset h3,
.md-typeset h4,
.md-typeset h5,
.md-typeset h6 {
    color: var(--md-typeset-color);
}


/* ----------FULL SCREEN---------- */

button.fullscreen_button:hover{
    filter: invert(11%) sepia(100%) saturate(4334%)hue-rotate(237deg) brightness(111%) contrast(140%);
}

.md-typeset__scrollwrap{
	text-align: center;
}

.md-typeset:not(.emojione .icon-highlight .module-icon) img:not(.emojione, .logo .icon-highlight .module-icon),
.md-typeset:not(.emojione .icon-highlight .module-icon) svg:not(.emojione, .logo .icon-highlight .module-icon){
	display: flex;
	justify-content: center;
	max-width: 100% !important;
}

.md-tabs.fullscreen-mode {
    height: 0px;
    transition: .3s ease-in-out;
}

.md-tabs:not(fullscreen-mode) {
    transition: .3s ease-in-out;
}

.md-sidebar--primary.fullscreen-mode {
    width: 0px;
    transition: .3s ease-in-out;
}

.md-sidebar--secondary.fullscreen-mode {
    width: 0px;
    transition: .3s ease-in-out;
}

.md-sidebar--primary:not(.fullscreen-mode) {
    transition: .3s ease-in-out;    
}

.md-sidebar--secondary:not(.fullscreen-mode) {
    transition: .3s ease-in-out;    
}

/* ----------MENUS---------- */

.md-nav__link:focus, .md-nav__link:hover {
    text-decoration: underline;
}

.md-nav__item .md-nav__link--active {
	color: var(--md-typeset-a-color);
    font-weight: 600;
}

.md-header__button.md-logo img, .md-header__button.md-logo svg {
	fill: currentcolor;
	display: block;
	height: 1.8rem;
	width: auto;
    margin-bottom: 2px;
    margin-top: 2px;
}
.md-search__form {
    border-radius: 10px;
}

[data-md-toggle="search"]:checked ~ .md-header .md-search__form {
	border-radius: 10px 10px 0px 0px;
}

[data-md-toggle="search"]:checked ~ .md-header .md-search__output {
	border-radius: 0px 0px 10px 10px;
}

/* ----------MODULE BANNERS---------- */

/* Container holding the image and the text */
.banner-modules {
    position: relative;
    text-align: center;
    background-image: linear-gradient(to right, var(--md-accent-fg-color) , rgb(255, 255, 255));
    overflow: hidden;
}

.banner-image {
    opacity: 0.4;
    aspect-ratio: 3/2;
    object-fit: cover;
    object-position: 50% 50%;
    overflow: hidden;
}

/* Bottom left text */
.md-typeset .module-track {
    position: absolute;
    top: 25px;
    right: 35px;
    color: var(--md-primary-fg-color);
    margin: 0px;
    background-color: var(--md-primary-fg-color--light);
    padding: 7px 15px;
    border-radius: 50px;
    font-size: .5rem;
    display: inline-block;
}

.md-typeset .track-category {
    color: var(--md-primary-fg-color);
    margin: 0px;
    font-size: .8rem;
    padding-right: 5px;
    font-weight: 600;
    display: inline-block;
}

.md-typeset .track-category .module-icon {
    padding-right: 5px;
}

.md-typeset .module-title {
    position: absolute;
    bottom: 25px;
    left:35px;
    color: var(--md-primary-fg-color--light);
    margin: 0px;
    padding-right: 35px;
}
.module-icon {
    width: 16px;
    fill: var(--md-primary-fg-color);
    display: inline-block !important;
    padding-right: 5px;
}


/* ----------FACULTY CARDS---------- */

.md-typeset .faculty-card {
    display: initial;
    /* display: grid;
    grid-template-columns: auto auto;
    grid-gap: 20px; */
    padding-top: 50px;
}

.md-typeset.faculty-image {
    /* display: flex;
    align-content: flex-start;
    justify-content: flex-start; */
    float: left;
}

.md-typeset .faculty-card img.faculty-photo {
    float: left;
    width: 100%;
    aspect-ratio: 1;
    border-radius: 20px;
    padding: 0px;
    object-fit: cover;
    object-position: 50% 50%;
    overflow: hidden;
    margin-bottom: 20px;
    filter: grayscale(100%);
}

.md-typeset .faculty-card h4 {
    margin-top: 0px;
    font-weight: 500;
    color: var(--md-primary-fg-color);
}

.md-typeset .faculty-card h3.name {
    margin-top: 0px;
    padding-top: 0px;
    font-weight: 500;
    margin-bottom: 0px;
    color: var(--md-typeset-color);
}

.md-typeset hr.divider-faculty {
    border-bottom: 2px solid var(--md-typeset-table-color);
    margin: 50px 0px 50px 0px;
}

.socials-faculty {
    padding-right: 10px;
}

.md-typeset a.socials-faculty {
    color: var(--md-typeset-color);
    opacity: 50%;
}

.faculty-content {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 175px;
}

.faculty-content-bottom p {
    margin-bottom: 0px;
}

/* ----------STUDENTS---------- */

.student-block {
	padding: 10px;
	display: flex;
	align-items: center;
	justify-content: start;
	justify-self: center;
	flex-direction: column;
	height: 330px;
}

.student-logo {
    fill: var(--md-accent-fg-color);
    width: 130px;
    padding-bottom: 10px;
}
.student-icon-container {
    width: 150px;
    height: 150px;
    background-color: rgba(255, 255, 255, 0.264);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-self: center;
}
.student-image {
    width: 150px;
    aspect-ratio: 1;
    border-radius: 50%;
    padding: 0px;
    object-fit: cover;
    object-position: 50% 50%;
    overflow: hidden;
    filter: grayscale(100%);
}
.student-image-container {
    border: var(--md-accent-fg-color) solid 2px;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-self: center;
    background-color: #4983ff29;
}

.student-section {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    grid-gap: 0px;
    align-items: center;
    justify-content: start;
}
h2.student-name {
    text-align: center;
    font-size: 16px;
}

/* ----------TABLES---------- */
.md-typeset__table {
    width: 100%;
}
  
.md-typeset__table table:not([class]) {
    display: table
}

.md-typeset table:not([class]) th {
    background-color: var(--md-primary-fg-color);
    color: var(--md-primary-fg-color--light);
}


/* ----------CONTENT TABS (SCHEDULES)---------- */

.md-typeset .tabbed-set {
	background-color: #4983ff29;
	padding: 5px 20px;
}

.md-typeset .tabbed-control--next {
	background: #4983ff00;
    padding-right: 5px;
}

.md-typeset .tabbed-control--prev {
    background: #4983ff00;
}

/* ----------HIGHLIGHT SECTIONS---------- */

.icon-highlight {
    fill: var(--md-accent-fg-color);
    width: 50px;
    /* padding: 25px; */
    text-align: center;
    scale: inherit;
}

.icon-highlight-container {
    border: var(--md-accent-fg-color) solid 2px;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-self: center;
    scale: 120%;
}

.highlight-section {
    display: grid;
    grid-template-columns: auto;
    grid-gap: 10px;
    align-items: center;
    justify-content: center;
}

.highlight-block {
    border-color:  var(--md-primary-fg-color);
    border-radius: 10px;
    border-width: 2px;
    border-style: solid;
    background-color: #4983ff29;
    width: 100%;
    min-height: 400px;
    padding: 50px;
    display: grid;
    align-items: center;
    justify-self: center;
    align-content: center;
}
.highlight-text h3 {
    text-align: center;
    font-size: 1.5em;
    font-weight: 600;
}

.highlight-text p {
    font-size: 1em;
}


/* ----------MEDIA QUERIES---------- */

@media only screen and (min-width: 600px) {
    .md-typeset .faculty-card img.faculty-photo {
        width: 175px;
        margin-right: 20px !important;
        margin-bottom: 0px;
    }
    .md-typeset .faculty-card h2 {
        padding-top: 12px;
    }
    .md-typeset h1 {
        font-size: 50px;
        line-height: 50px;
    }
}

@media only screen and (min-width: 800px) {
    .md-typeset h1 {
        font-size: 70px;
        line-height: 70px;
    }
    .md-typeset .module-title {
        padding-right: 275px;
    }
}

@media only screen and (min-width: 960px) {
/* TOC MENU PADDING */
.md-sidebar--secondary .md-sidebar__scrollwrap {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 40px;    
}
.md-nav--secondary .md-nav__title {
	background: none;
	box-shadow: none;
	position: sticky;
	top: 0;
	z-index: 1;
}
.md-nav.md-nav--secondary{
	border-color:  var(--md-primary-fg-color);
    border-radius: 10px;
    border-width: 2px;
    border-style: solid;
    background-color: #4983ff29;
    padding: 20px 10px;
}
.highlight-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 15px;
    align-items: center;
    justify-content: center;
}
.highlight-block {
    background-color: #4983ff29;
    width: 100%;
    height: 475px;
    padding: 35px;
    display: grid;
    grid-template-rows: 1fr 3fr;
    align-items: flex-start;
    justify-self: center;
    align-content: center;
}
.icon-highlight-container {
    scale: 100%;
}
.highlight-text h3 {
    text-align: center;
    font-size: 1.25em;
}

.highlight-text p {
    font-size: 0.9em;
}
}
