<!-- {% extends "main.html" %}
{% block content %}
    {% if page.meta.course_info.feature_img %}
        <div class="banner-modules">
            <img class="banner-image" src="{{ page.meta.course_info.feature_img }}" alt="{{ page.meta.title }}">
            <h1 class="module-title">{{ page.meta.title }}</h1>
            <h2 class="module-track">Track | <span class="track-category"><i class="fa fa-solid fa-flask"></i>  {{ page.meta.course_info.track }}</span></h2>
        </div>
    {% endif %}
{{ super() }}
 {%  endblock %} -->